.flag-btn {
    box-shadow:0 0 0 !important;
    width: 3em;
    height: auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#france-btn {
    background-image: url("../img/france.png");
}

#france-btn:hover {
    opacity: 0.7;
}

#uk-btn {
    background-image: url("../img/uk.png");
}

#uk-btn:hover {
    opacity: 0.7;
}

#nl-btn {
    background-image: url("../img/nederland.png");
}

#nl-btn:hover {
    opacity: 0.7;
}

#dl-btn {
    background-image: url("../img/deutschland.png");
}

#dl-btn:hover {
    opacity: 0.7;
}

.logo-btn {
    width: 16em;
    height: 16em;
    margin-top: 8em;
    border-radius: 0.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/logo.jpg");
}